@import "../../../styles";

.movie-seats {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 4;
  background-color: transparent;
  opacity: 1;
  .movie-seats__container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: $dark;
    z-index: 5;
    opacity: 0;
  }
  .movie-seats__close {
    
  }
  .movie-seats__content {
    font-size: 2rem;
    position: relative;
    padding: 50px 20px 20px 20px;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    opacity: 0;
  }
}