@import "../../../styles";

.movie-seats {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 4;
  background-color: transparent;
  opacity: 1;
  .movie-seats__container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: $dark;
    z-index: 5;
    opacity: 0;
  }
  .movie-seats__close {
  }
  .movie-seats__content {
    position: relative;
    padding: 50px 20px 20px 20px;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    opacity: 0;
    display: flex;
    flex-direction: column;
    .movie-seats__screen {
      margin-top: 10px;
      height: 120px;
      width: 100%;
      background-color: $un-grey;
    }
    .movie-seats__choose-seat-container {
      padding: 15px 0;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      overflow: auto;
      max-width: 100%;
      .movie-seats__choose-seat-cell {
        display: flex;
        justify-content: center;
        align-items: stretch;
        max-width: 350px;
        max-height: 35px;
        .movie-seats__seat {
          width: 30px;
          height: 30px;
          margin: 5px;
          background-color: transparent;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 40%;
            bottom: 0;
            background-color: $un-grey;
            border-radius: 5px;
            z-index: 1;
          }
          &:after {
            content: '';
            position: absolute;
            width: 65%;
            height: 65%;
            bottom: 3px;
            left: 50%;
            background-color: $un-grey;
            border: 2px solid $dark;
            border-radius: 5px;
            transform: translateX(-50%);
            z-index: 2;
          }
        }
        .movie-seats__seat--selected {
          &:before, &:after {
            background-color: $red;
          }
        }
        .movie-seats__seat--available {
          &:before, &:after {
            background-color: $av-grey;
          }
        }
        .movie-seats__seat--taken {
          &:before, &:after {
            background-color: $un-grey;
          }
        }
        .movie-seats__seat--unavailable {
          &:before, &:after {
            display: none;
          }
        }
      }
    }
    .movie-seats__legend {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      .movie-seats__legend-value {
        margin-left: 15px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          top: 50%;
          left: -15px;
          transform: translateY(-50%);
          border-radius: 10px;
          background-color: $grey;
        }
      }
      .movie-seats__legend-value.movie-seats__legend-value--available::before {
        background-color: $av-grey;
      }
      .movie-seats__legend-value.movie-seats__legend-value--taken::before {
        background-color: $un-grey;
      }
      .movie-seats__legend-value.movie-seats__legend-value--selected::before {
        background-color: $red;
      }
    }
    .movie-seats__date {
      padding: 25px 0;
      display: flex;
      .movie-seats__select-date {
        margin-right: 10px;
        background-color: transparent;
        border: 0;
        color: $light;
        font-size: 1.1rem;
        &:focus {
          outline: none;
        }
        option {
          background-color: $dark;
          border: 0;
        }
      }
      .movie-seats__select-time {
        overflow: auto;
        display: flex;
        .movie-seats__time-input {
          display: none;
          position: absolute;
          z-index: -9999;
          left: 9999px;
          top: 9999px;
        }
        .movie-seats__time-label {
          border: 1px solid $un-grey;
          border-radius: 3px;
          padding: 4px 8px;
          margin-right: 5px;
          font-size: 1.1rem;
          &:last-child {
            margin-right: 0;
          }
        }
        .movie-seats__time-label--selected {
          background-color: $red;
        }
      }
    }
    .movie-seats__pay {
      margin-top: auto;
    }
  }
}