@import "../../../styles";

.movie-listing {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  background-color: $light;
  color: $dark;
  height: 85%;
  width: 100%;
  padding: 30px;
  border-radius: 25px;
  opacity: 1;
  transform: scaleX(0.7);
  display: flex;
  flex-direction: column;
  .movie-listing__close {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid $grey;
    color: $grey;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: .9rem;
    cursor: pointer;
  }
  .movie-listing__header {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .movie-listing__genre-list {
    min-width: 100%;
    height: 24px;
    overflow-x: scroll;
    display: flex;
    .movie-listing__genre {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $grey;
      border-radius: 15px;
      font-size: .8rem;
      color: $grey;
      text-transform: capitalize;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .movie-details__btn-more {
    margin-top: auto;
  }
}