<div class="movie-details__rating">
  <div class="movie-details__score">{{ rating }}</div>
  <div class="movie-details__stars-outer">
    <i class="fa fa-star-o" aria-hidden="true" #star></i>
    <i class="fa fa-star-o" aria-hidden="true" #star></i>
    <i class="fa fa-star-o" aria-hidden="true" #star></i>
    <i class="fa fa-star-o" aria-hidden="true" #star></i>
    <i class="fa fa-star-o" aria-hidden="true" #star></i>
    <div class="movie-details__stars-inner" [ngStyle]="{width: starsRating}" #starsInner></div>
  </div>
</div>